/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.jp-assist-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* .chat-title {} */

.chat-content {
    /* stretches to fill the remaining space */
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chat-input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.message {
    .message-content {
        background-color: var(--background-modifier-form-field);
        padding: 10px;
        margin-block: 5px;
        border: 1px solid var(--background-modifier-border);
        border-radius: var(--input-radius);
    }
}

.user.message {
    text-align: right;
    align-self: flex-end;
}

.assistant.message {
    text-align: left;
    align-self: flex-start;
    padding: 10px;
}

.chat-form {
    display: flex;
    flex-direction: column;
}
